.App {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding: 3rem;
}

.addTodo {
    width: 40vw;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.addTodo *{
    font-weight: bold;
    border-radius: .4rem;
    padding: .6rem;
    border: 1px solid black;
}

.addTodo input {
    flex-grow: 1;
}

.addTodo button {
    cursor: pointer;
}

.addTodo button:hover {
    filter: brightness(90%);
}

.todos {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.2rem;
    width: 40vw;
    border: 1px solid black;
    border-radius: 1rem;
}

.todos .todo {
    width: 100%;
    user-select: none;
    display: flex;
    justify-content: space-between;
}

.todos .todo:not(:last-child) {
    border-bottom: 1px solid #b5b5b5;
    padding-bottom: 1.2rem;
}

.todos .todo .todoTitle{
    cursor: pointer;
    flex-grow: 1;
}

.todos .todo .todoTitle.completed {
    text-decoration: line-through #df0000;
}

.todos .todo .deleteButton{
    color: #df0000;
    font-size: .8rem;
    cursor: pointer;
}